<div class="container">
  <div class="border">
    <button class="btn btn-md btn-outline-primary">
      <i class="fa fa-user"></i>New Contact</button>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Adress</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let contact of contact">
      <td><span>{{contact.id}}</span></td>
      <td><span>{{contact.name}}</span></td>
      <td><span>{{contact.adress}}</span></td>
      <td>
        <button class="btn btn-sm btn-warning">
          <i class="fa fa-edit"></i>Edit</button>
        <button class="btn btn-sm btn-danger">
          <i class="fa fa-remove"></i>Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
