<div class="container">
  <div class="border">
    <table>
      <tr>
        <td>
          <form>
            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Name" id="name" #name>
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Address" id="adress" #adress>
              </div>
              <div class="col">
                <button class="btn btn-primary" (click)="addContact(name.value, adress.value)">Submit</button>
              </div>
            </div>
          </form>
        </td>
      </tr>
    </table>
    <table class="table table-dark">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Adress</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let contact of contacts">
        <td>{{contact.id}}</td>
        <td #random>
          <input type="text" id="editName" *ngIf="contact.edit" value="{{contact.name}}">
          <p *ngIf="!contact.edit">
            {{contact.name}}
          </p>
        </td>
        <td>
          <input type="text" id="editAdress" *ngIf="contact.edit" value="{{contact.adress}}">
          <p *ngIf="!contact.edit">
            {{contact.adress}}
          </p>
        </td>
        <td>
          <button *ngIf="contact.edit" class="btn btn-sm btn-success">
            Update
          </button>
          <button *ngIf="contact.edit" class="btn btn-sm btn-warning" (click)="cancelEditContact(contact)">
            Cancel
          </button>
          <button *ngIf="!contact.edit" class="btn btn-sm btn-warning" (click)="editContact(contact)">
            Edit
          </button>
          <button *ngIf="!contact.edit" class="btn btn-sm btn-danger" (click)="deleteContact(contact)">
            Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

